.inventory {
      padding-top: 50px;
      background: rgba(217, 234, 238, 0.521);
      height: 100%;
      display: flex;
      flex-flow: row wrap;
      padding: 40px;
      justify-content: space-around;
      font-family: 'Merienda', cursive;
      font-family: 'Milonga', cursive;
     
      align-content: flex-start;
      overflow: auto;
    
    }

    .iframe{
      border: rgba(34, 163, 192, 0.521) 4px groove;
      padding: 3px;
    }