.footer {
      background-color: rgb(38, 40, 197);
      height: 100px;
      position: relative;
      color: white;
      overflow: auto;
     
    }
    
    .bottom {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: rgb(38, 40, 197);
      padding: 8px;
      font-weight: 600;
      text-align: center;
    }
    
    /* .footer > .bottom > img {
      width: 20px;
      position: relative;
      top: 3px;
      left: 2px; */